<footer>
    <div class="footerWrapper">
        <div class="footerContent">
            <span>Altenbach 8<span class="footerSeparator">|</span>P.O. Box 949<span
                    class="footerSeparator">|</span>9490 Vaduz<span
                    class="footerSeparator">|</span>Liechtenstein<span class="footerSeparator">|</span></span>
            <span>Tel: +423 233 44 44<span class="footerSeparator">|</span>Fax:
                +423 233 45 04<span class="footerSeparator">|</span><a
                    href="mailto:wh@whlaw.li">wh@whlaw.li</a></span>
            <div class="phoneLanguages">
                <a href="/" class="phoneLanguagesActive">EN</a> <span>|</span> <a href="/de" class="changeLanguage">DE</a>
            </div>
        </div>
    </div>
</footer>