<main>
    <!-- HOME -->
    <div id="homeContainer" class="noDisplay">
        <div class="homeLogo">

        </div>
        <div class="homeIntro">Wohlmacher Kaiser Becker Mohr-Egger is an internationally oriented law firm <br>
            based in Vaduz,
            Principality of Liechtenstein</div>
    </div>
    <!-- ABOUT -->
    <div class="container noDisplay" id="aboutContainer">
        <div class="centerAlign">
            <h2>Portrait</h2>
            <p>
                Our lawyers have been serving clients for more than forty years.
            </p>
            <p>
                We provide legal services to domestic and international clients in all areas of Liechtenstein, European
                and International Law.
            </p>
            <p>
                We are an experienced team providing individual advice and arguing cases before all courts and
                authorities, both in Liechtenstein and Austria as well as before the European Courts. We further advise
                and represent private and corporate clients in international arbitration proceedings and are also
                frequently appointed as arbitrators.
            </p>
            <p>
                Assisted by a network of first rate correspondents, we work successfully in all major international
                centres. As independent attorneys, we are free to choose the correspondents most suited for our clients’
                needs.
            </p>
            <p>
                We are able to advise in German, English, French and Italian.
            </p>
        </div>
    </div>
    <!-- TEAM -->
    <div class="container noDisplay" id="teamContainer">
        <h2>Attorneys at Law</h2>
        <!-- WOHLMACHER -->
        <div class="mobileWrapper">
            <div class="mobilePicture wohlmacherMobile">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture wohlmacherPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Dr. iur. Friedrich Wohlmacher</h3>
                        <ul>
                            <li>University of Innsbruck (Dr. iur. 1971)</li>
                            <li>Qualified in Liechtenstein and Austria</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Fields of Expertise</h4>
                        <ul>
                            <li>Corporate and Commercial Law</li>
                            <li>Trusts and Wills / Estate Planning</li>
                            <li>Finance Law</li>
                            <li>Asset Tracing</li>
                            <li>Litigation and Arbitration</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Languages</h4>
                        <ul>
                            <li>German</li>
                            <li>English</li>
                            <li>French</li>
                            <li>Italian</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:wh@whlaw.li"><span class="lawyerEmail">wh@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
        <!-- KAISER -->
        <div class="mobileWrapper">
            <div class="mobilePicture kaiserMobile">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture kaiserPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Lic. iur. HSG Nicole Kaiser M.B.L.-HSG</h3>
                        <ul>
                            <li>University of St. Gallen (Lic. iur. HSG 1997)</li>
                            <li>Master of European and International Business Law (M.B.L.-HSG 1998)</li>
                            <li>Ad hoc Judge of the EFTA Court (since 2001)</li>
                            <li>Member of the Board of Directors of the Liechtenstein Gas Supply<br>
                                (since 2016; Vice President since 2019)</li>
                            <li>Qualified in Liechtenstein</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Fields of Expertise</h4>
                        <ul>
                            <li>Private Law</li>
                            <li>International Private Law</li>
                            <li>Public Law</li>
                            <li>Commercial Law</li>
                            <li>Criminal Law</li>
                            <li>Company Law</li>
                            <li>Enforcement Proceedings</li>
                            <li>Litigation and Arbitration</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Languages</h4>
                        <ul>
                            <li>German</li>
                            <li>English</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:nicole.kaiser@whlaw.li"><span
                                class="lawyerEmail">nicole.kaiser@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
        <!-- BECKER -->
        <div class="mobileWrapper">
            <div class="mobilePicture beckerMobile">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture beckerPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Dr. iur. Stefan Becker LL.M.-ULB</h3>
                        <ul>
                            <li>University of Freiburg i.Ue. (Dr. iur. 2004)</li>
                            <li>Université Libre de Bruxelles (1994)</li>
                            <li>Former Head of the Liechtenstein Office for Communications</li>
                            <li>Substitute Judge of the Princely Supreme Court (2006-2021)</li>
                            <li>Qualified in Liechtenstein</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Fields of Expertise</h4>
                        <ul>
                            <li>Private Law</li>
                            <li>Labour Law</li>
                            <li>Bank and Capital Market Law</li>
                            <li>Commercial Law</li>
                            <li>Media and Telecommunication Law</li>
                            <li>Environmental Law</li>
                            <li>Administrative Law</li>
                            <li>Litigation and Arbitration</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Languages</h4>
                        <ul>
                            <li>German</li>
                            <li>English</li>
                            <li>French</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:stefan.becker@whlaw.li"><span
                                class="lawyerEmail">stefan.becker@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
        <!-- MOHR-EGGER -->
        <div class="mobileWrapper">
            <div class="mobilePicture mohrEggerMobile">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture mohrEggerPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Mag. iur. Sabine Mohr-Egger LL.M.</h3>
                        <ul>
                            <li>University Vienna (Mag. iur. 1990)</li>
                            <li>Post Graduate Studies „European Law” Schloss Hofen</li>
                            <li>Academically Certified Expert in European Law (1997)</li>
                            <li>Master of Laws, LL.M. (2003)</li>
                            <li>Member of the Board of the Liechtenstein Chamber of Lawyers</li>
                            <li>Qualified in Liechtenstein and Austria</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Fields of Expertise</h4>
                        <ul>
                            <li>Foundation and Trust Law</li>
                            <li>Corporate and Contract Law</li>
                            <li>Administrative Law</li>
                            <li>European Law</li>
                            <li>Inheritance Law</li>
                            <li>Family Law</li>
                            <li>Criminal Law</li>
                            <li>Litigation and Arbitration</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Languages</h4>
                        <ul>
                            <li>German</li>
                            <li>English</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:sabine.mohr-egger@whlaw.li"><span
                                class="lawyerEmail">sabine.mohr-egger@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
    </div>
    <!-- CONTACT -->
    <div class="container noDisplay" id="contactContainer">
        <h2>Contact</h2>
        <div id="map"></div>
        <script src="../mapscript.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzrREkCVWLwLMAwXJUj8O_TQzPw3KVi3o&callback=initMap">
            </script>
        <div class="contactInfo">
            <div class="address">
                <p>Wohlmacher Kaiser Becker Mohr-Egger</li>
                <p>Altenbach 8</p>
                <p>P.O. Box 949</p>
                <p>9490 Vaduz</p>
                <p>Liechtenstein</p>
            </div>
            <div class="contact">
                <span class="phoneAlign">
                    <p>Tel:</p>
                    <p>+423 233 44 44</p>
                </span>
                <p>Fax: +423 233 45 04 </p>
                <p>E-Mail: <a href="mailto:wh@whlaw.li">wh@whlaw.li</a></p>
            </div>
        </div>
    </div>
    <!-- LEGAL NOTICE -->
    <div class="container noDisplay" id="impContainer">
        <h2>Legal Notice</h2>
        <p>
            According to Article 5 Paragraph 1 of the Liechtenstein E-Commerce Act (ECG) we give the following
            notice as the provider of this website:
        </p>
        <p>
            Liechtenstein attorneys are under the disciplinary supervision of the Liechtenstein Court of
            Appeal.
        </p>
        <p>
            We are members of the <a href="https://www.rak.li/en-us/rak/home.aspx" target="_blank">Liechtenstein
                Chamber of Lawyers</a> and are
            subject
            to their rules of professional
            conduct as well as the Liechtenstein Lawyers Act.</p>
    </div>
    <!-- PRIVACY STATEMENT -->
    <div class="container noDisplay" id="stmtContainer">
        <h2>Data Protection</h2>
        <p>We take the protection of your personal data very seriously. This Privacy Policy explains the type, scope
            and purpose of processing of personal data (“Data”) within our website and
            the
            associated websites, functions and content, as well as the online presence of external providers
            (“website”).</p>
        <br>

        <p>The parties responsible for Data processing on this website are:</p>
        <br>

        <p>Friedrich Wohlmacher</p>
        <p>Nicole Kaiser</p>
        <p>Stefan Becker</p>
        <p>Sabine Mohr-Egger</p>
        <br>

        <p>Altenbach 8</p>
        <p>P.O. Box 949</p>
        <p>9490 Vaduz</p>
        <p>Principality of Liechtenstein</p>

        <p><a href="mailto:wh@whlaw.li">wh@whlaw.li</a></p>
        <br>

        <h3>Information, deletion and blocking</h3>
        <p>Within the framework of the applicable statutory provisions, you always have the right to information
            free
            of charge about your stored Data, the source and recipients of this Data, the purpose of Data
            processing, as well as the right to correction, blocking or deletion of this Data, as applicable. Please
            feel free to contact us at the address indicated above at any time should you have any questions about
            personal data.</p>
        <br>
        <p>Many Data processing operations are only possible with your explicit consent. You can withdraw your
            consent
            at any time simply by sending us an E-Mail. Withdrawal of consent does not affect the lawfulness of Data
            processing carried out before it was withdrawn.</p>
        <br>

        <!-- <p>When a user contacts us (e.g. by E-Mail or phone), the user’s information is processed in order to handle
            and process the contact request in accordance with Article 6(1)(b) of the EU General Data Protection
            Regulation (GDPR). The user’s information may be stored in a client relationship management system (CRM
            system).</p>
        <br> -->

        <h3>Types of Data processed:</h3>

        <p>
            <li>Master data (e.g. names, addresses)</li>
            <li>Contact details (e.g. E-Mail addresses, phone numbers)</li>
            <li>Content data (e.g. text input, photographs, videos)</li>
            <li>Usage data (e.g. websites visited, interest in content, access times)</li>
            <li>Meta/communication data (e.g. device information, IP addresses)</li>
        </p><br>
        <h3>Data security</h3>
        <p>During website visits, we apply the widely used Secure Sockets Layer (SSL) protocol in combination with
            the
            highest level of encryption supported by your browser. You can tell whether an individual page is
            transmitted in encrypted form by checking whether a closed-key or lock symbol appears in the address bar
            of
            your browser. In addition, we use other suitable technical and organisational security measures to
            protect
            your Data from accidental or deliberate manipulation, partial or complete loss, destruction or
            unauthorised
            access by third parties. Our security measures are continuously improved in keeping with technological
            developments.
        </p>
        <br>

        <!-- <h3>Cookies</h3>
        <p>Cookies are small text files that your browser automatically creates and that are stored on your end device
        (laptop, tablet, smartphone, etc.) when you visit our website. We use cookies on our website. They are
        cookies that are required for websites on WordPress.com in order to enable their basic functions, including
        those that allow registered users to authenticate themselves and execute user-account-specific functions.</p>
        <br> -->

        <!-- <p>You can set your browser to inform you about cookies being set and only allow cookies in a specific case,
            accept cookies for certain cases, generally block them or activate automatic deletion of the cookies
            when
            you exit your browser. Disabling cookies, however, may limit the functionality of this website.
        </p><br> -->

        <h3>Use of contact details</h3>
        <p>We hereby opt out of the use of the contact details published on our website – as required by law –
            in
            order to send us advertising and informational materials that we did not explicitly request. We
            explicitly
            reserve the right to take legal action if we are sent unsolicited advertising information such as spam
            E-Mails.
        </p><br>

        <h3>Hosting and E-Mailing</h3>
        <p>We use hosting services to provide the following services: infrastructure and platform services,
            computing
            capacity, storage space and database services, E-Mailing, security services and technical maintenance
            services, which we use for the purpose of operating this website.
        </p><br>

        <h3>Recording general data and information</h3>
        <p>The provider of the website automatically records and stores information in what are known as “server log
            files”, which your browser transmits to us automatically. This information is:
        </p><br>

        <p>
        <ul>
            <li>Browser types and versions used</li>
            <li>The operating system used by the accessing system</li>
            <li>The website from which
                an
                accessing system arrives at our website (referrer)</li>
            <li>Date and time of access to the website</li>
            <li>Internet
                protocol
                address (IP address)</li>
            <li>Internet service provider of the accessing system</li>
            <li>Other similar data and
                information
                used to prevent threats in case of attacks on our IT systems</li>
        </ul>
        <br>
        </p>
        <p>This data will not be combined with other data sources. This data is collected on the basis of Article
            6(1)(f) of the GDPR. The website operator has a legitimate interest in optimising the website and
            ensuring
            that it is displayed without technical errors. Server log files must be recorded for these purposes.</p>
        <br>

        <h3>External links</h3>
        <p>On our website, we use links to external pages that are specifically labelled as such and whose content
            is
            not located on our server. The external content of these links was reviewed when the links were added.
            However, we cannot rule out the possibility that the providers of this content have since changed it.
            Please
            inform us if you notice that content from external providers violates applicable laws.
        </p><br>
    </div>
</main>