<main>
    <!-- HOME -->
    <div id="homeContainer" class="noDisplay">
        <div class="homeLogo">

        </div>
        <div class="homeIntro">Wohlmacher Kaiser Becker Mohr-Egger ist eine international orientierte
            Rechtsanwaltskanzlei<br>
            in Vaduz, Fürstentum Liechtenstein</div>
    </div>
    <!-- ABOUT -->
    <div class="container noDisplay" id="aboutContainer">
        <div class="centerAlign">
            <h2>Portrait</h2>
            <p>
                Unsere Rechtsanwälte beraten und vertreten Klienten seit mehr als vierzig Jahren.
            </p>
            <p>
                Wir betreuen in- und ausländische Klienten in allen Bereichen des liechtensteinischen, europäischen und
                internationalen Rechts.
            </p>
            <p>
                Wir sind ein erfahrenes Team, das individuell berät und Sie vor allen Gerichten und Behörden in
                Liechtenstein und Österreich sowie vor den europäischen Gerichtshöfen vertritt. Darüber hinaus beraten
                und vertreten wir Privat- und Firmenkunden in internationalen Schiedsgerichtsverfahren und werden häufig
                auch selbst als Schiedsrichter bestellt.
            </p>
            <p>
                Unterstützt durch ein Netzwerk erstklassiger Korrespondenzanwälte arbeiten wir erfolgreich in allen
                wichtigen interna<span class="largeLineBreak">- </span>tionalen Zentren. Als unabhängige Rechtsanwälte
                können wir die für die
                Bedürfnisse unserer Klienten geeignetsten Korres<span class="largeLineBreak">- </span>pondenzanwälte frei wählen.
            </p>
            <p>
                Wir beraten Sie in Deutsch, Englisch, Französisch und Italienisch.
            </p>
        </div>
    </div>
    <!-- TEAM -->
    <div class="container noDisplay" id="teamContainer">
        <h2>Rechtsanwälte</h2>
        <!-- WOHLMACHER -->
        <div class="mobileWrapper">
            <div class="mobilePicture">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Dr. iur. Friedrich Wohlmacher</h3>
                        <ul>
                            <li>Universität Innsbruck (Dr. iur. 1971)</li>
                            <li>Zugelassen in Liechtenstein und Österreich</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Rechtsgebiete</h4>
                        <ul>
                            <li>Gesellschafts- und Wirtschaftsrecht</li>
                            <li>Trusts und Nachlassplanung</li>
                            <li>Finanzrecht</li>
                            <li>Asset Tracing</li>
                            <li>Prozessführung und Schiedsverfahren</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Sprachen</h4>
                        <ul>
                            <li>Deutsch</li>
                            <li>Englisch</li>
                            <li>Französisch</li>
                            <li>Italienisch</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:wh@whlaw.li"><span class="lawyerEmail">wh@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
        <!-- KAISER -->
        <div class="mobileWrapper">
            <div class="mobilePicture">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Lic. iur. HSG Nicole Kaiser M.B.L.-HSG</h3>
                        <ul>
                            <li>Universität St. Gallen (Lic. iur. HSG 1997)</li>
                            <li>Master of European and International Business Law (M.B.L.-HSG 1998)</li>
                            <li>Ersatzrichterin des EFTA-Gerichtshofes (seit 2001)</li>
                            <li>Mitglied des Verwaltungsrates der liechtensteinischen Gasversorgung<br>
                                (seit 2016; Vizepräsidentin seit 2019)</li>
                            <li>Zugelassen in Liechtenstein</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Rechtsgebiete</h4>
                        <ul>
                            <li>Privatrecht</li>
                            <li>Internationales Privatrecht</li>
                            <li>Öffentliches Recht</li>
                            <li>Handelsrecht</li>
                            <li>Strafrecht</li>
                            <li>Unternehmensrecht</li>
                            <li>Rechtsvertretung in Exekutionsverfahren</li>
                            <li>Prozessführung und Schiedsverfahren</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Sprachen</h4>
                        <ul>
                            <li>Deutsch</li>
                            <li>English</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:nicole.kaiser@whlaw.li"><span
                                class="lawyerEmail">nicole.kaiser@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
        <!-- BECKER -->
        <div class="mobileWrapper">
            <div class="mobilePicture">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Dr. iur. Stefan Becker LL.M.-ULB</h3>
                        <ul>
                            <li>Universität Freiburg i.Ue. (Dr. iur. 2004)</li>
                            <li>Université Libre de Bruxelles (1994)</li>
                            <li>Ehemaliger Leiter des liechtensteinischen Amtes für Kommunikation</li>
                            <li>Ersatzrichter des Obersten Gerichtshofes (seit 2006)</li>
                            <li>Zugelassen in Liechtenstein</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Rechtsgebiete</h4>
                        <ul>
                            <li>Privatrecht</li>
                            <li>Arbeitsrecht</li>
                            <li>Bank- und Kapitalmarktrecht</li>
                            <li>Handelsrecht</li>
                            <li>Telekommunikationsrecht</li>
                            <li>Umweltrecht</li>
                            <li>Verwaltungsrecht</li>
                            <li>Prozessführung und Schiedsverfahren</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Sprachen</h4>
                        <ul>
                            <li>Deutsch</li>
                            <li>Englisch</li>
                            <li>Französisch</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:stefan.becker@whlaw.li"><span
                                class="lawyerEmail">stefan.becker@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
        <!-- MOHR-EGGER -->
        <div class="mobileWrapper">
            <div class="mobilePicture">

            </div>
        </div>
        <div class="lawyerContainer">
            <div class="lawyerPicture">

            </div>
            <div class="lawyerDescription">
                <div class="lawyerName">
                    <span>
                        <h3>Mag. iur. Sabine Mohr-Egger LL.M.</h3>
                        <ul>
                            <li>Universität Wien (Mag. iur. 1990)</li>
                            <li>Post-Graduate Studium “Europarecht” Schloss Hofen</li>
                            <li>Akademisch geprüfte Europarechtsexpertin (1997)</li>
                            <li>Master of Laws, LL.M. (2003)</li>
                            <li>Mitglied des Vorstands der liechtensteinischen Rechtsanwaltskammer</li>
                            <li>Zugelassen in Liechtenstein und Österreich</li>
                        </ul>
                    </span>
                </div>
                <div class="lawyerInfo">
                    <span>
                        <h4>Rechtsgebiete</h4>
                        <ul>
                            <li>Stiftungs- und Trustrecht</li>
                            <li>Gesellschafts- und Vertragsrecht</li>
                            <li>Verwaltungsrecht</li>
                            <li>Europarecht</li>
                            <li>Erbrecht</li>
                            <li>Familienrecht</li>
                            <li>Strafrecht</li>
                            <li>Prozessführung und Schiedsverfahren</li>
                        </ul>
                    </span>
                    <span>
                        <h4>Sprachen</h4>
                        <ul>
                            <li>Deutsch</li>
                            <li>Englisch</li>
                        </ul>
                    </span>
                    <span>
                        <h4>E-Mail</h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                            class="bi bi-envelope" viewBox="0 0 16 16">
                            <path
                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                        </svg><a href="mailto:sabine.mohr-egger@whlaw.li"><span
                                class="lawyerEmail">sabine.mohr-egger@whlaw.li</span></a>
                    </span>
                </div>
            </div>
            <button class="chevron"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                    class="bi bi-chevron-compact-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg></button>
        </div>
    </div>
    <!-- CONTACT -->
    <div class="container noDisplay" id="contactContainer">
        <h2>Kontakt</h2>
        <div id="map"></div>
        <script src="../mapscript.js"></script>
        <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzrREkCVWLwLMAwXJUj8O_TQzPw3KVi3o&callback=initMap">
            </script>
        <div class="contactInfo">
            <div class="address">
                <p>Wohlmacher Kaiser Becker Mohr-Egger</li>
                <p>Altenbach 8</p>
                <p>Postfach 949</p>
                <p>9490 Vaduz</p>
                <p>Liechtenstein</p>
            </div>
            <div class="contact">
                <span class="phoneAlign">
                    <p>Tel:</p>
                    <p>+423 233 44 44</p>
                </span>
                <p>Fax: +423 233 45 04 </p>
                <p>E-Mail: <a href="mailto:wh@whlaw.li">wh@whlaw.li</a></p>
            </div>
        </div>
    </div>
    <!-- LEGAL NOTICE -->
    <div class="container noDisplay" id="impContainer">
        <div class="centerAlign">
            <h2>Impressum</h2>
            <p>
                Gemäss Art. 5 des liechtensteinischen E-Commerce-Gesetzes (ECG), geben wir als Betreiber dieser
                Website folgendes bekannt:
            </p>
            <p>
                Die Tätigkeit der Rechtsanwälte in Liechtenstein unterliegt der Disziplinargewalt des Fürstlichen
                Obergerichts.
            </p>
            <p>
                Wir sind Mitglieder der <a href="http://www.lirak.li/" target="_blank">liechtensteinischen
                    Rechtsanwaltkammer</a>
                und unterliegen den Standesrichtlinien sowie dem liechten<span class="largeLineBreak">- </span>steinischen Rechtsanwaltsgesetz.</p>
        </div>
    </div>
    <!-- PRIVACY STATEMENT -->
    <div class="container noDisplay" id="stmtContainer">
        <h2>Datenschutz</h2>
        <p>Wir nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Diese Datenschutzerklärung klärt Sie über die
            Art, den Umfang und Zweck der Verarbeitung von personenbezogenen Daten («Daten»)
            innerhalb unserer Webseite und der mit ihr verbundenen Webseiten, Funktionen und Inhalte sowie externen
            Onlinepräsenzen.</p>
        <br>

        <p>Die Verantwortlichen für die Datenverarbeitung auf dieser Webseite sind:</p>
        <br>

        <p>Friedrich Wohlmacher</p>
        <p>Nicole Kaiser</p>
        <p>Stefan Becker</p>
        <p>Sabine Mohr-Egger</p>

        <br>

        <p>Altenbach 8</p>
        <p>P.O. Box 949</p>
        <p>9490 Vaduz</p>
        <p>Principality of Liechtenstein</p>

        <p><a href="mailto:wh@whlaw.li">wh@whlaw.li</a></p>
        <br>

        <h3>Auskunft, Löschung, Sperrung</h3>
        <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche
            Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger sowie den Zweck der
            Datenverarbeitung und gegebenenfalls ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten.
            Hierzu ebenso wie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der
            oben angegebenen Adresse an uns wenden.</p>
        <br>
        <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
            bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an
            uns. Die Rechtmässigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.
        </p>
        <br>

        <!-- <p>Bei der Kontaktaufnahme mit uns (z.B. per E-Mail oder Telefon) werden die Angaben des Nutzers zur
            Bearbeitung der Kontaktanfrage und deren Abwicklung gem. Art. 6 Abs. 1 lit. b) DSGVO verarbeitet. Die
            Angaben der Nutzer können in einem Customer-Relationship-Management System («CRM System») gespeichert
            werden.</p> -->
        <br>

        <h3>Arten der verarbeiteten Daten:</h3>

        <p>
            <li>Bestandsdaten (z.B. Namen, Adressen)</li>
            <li>Kontaktdaten (z.B. E-Mail, Telefonnummern)</li>
            <li>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos)</li>
            <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten)</li>
            <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen)</li>
        </p><br>
        <h3>Datensicherheit</h3>
        <p>Wir verwenden innerhalb des Webseiten-Besuchs das verbreitete SSL-Verfahren (Secure Socket Layer) in
            Verbindung mit der jeweils höchsten Verschlüsselungsstufe, die von Ihrem Browser unterstützt wird. Ob
            eine einzelne Seite verschlüsselt übertragen wird, erkennen Sie an der geschlossenen Darstellung des
            Schüssel- beziehungsweise Schloss-Symbols in der Adressleiste Ihres Browsers. Darüber hinaus wenden wir
            weitere geeignete technische und organisatorische Sicher- heitsmassnahmen an, um Ihre Daten gegen
            zufällige oder vorsätzliche Manipulationen, teilweisen oder vollständigen Verlust, Zerstörung oder gegen
            den unbefugten Zugriff Dritter zu schützen. Unsere Sicherheitsmassnahmen werden entsprechend der
            technologischen Entwicklung fortlaufend verbessert.
        </p>
        <br>

        <!-- <h3>Cookies</h3>
        <p>Cookies sind kleine Dateien, die Ihr Browser automatisch erstellt und die auf Ihrem Endgerät (Laptop,
            Tablet, Smartphone etc.) gespeichert werden, wenn Sie unsere Seite besuchen. Wir verwenden auf unserer
            Webseite Cookies. Dabei handelt es sich um Cookies, die für Webseiten auf WordPress.com erforderlich
            sind, um deren grundlegenden Funktionen zu ermöglichen. Das schliesst solche ein, die es registrierten
            Benutzern erlaubt, sich zu authentifizieren und Benutzerkonto-spezifische Funktionen auszuführen.</p>
        <br> -->

        <!-- <p>You can set your browser to inform you about cookies being set and only allow cookies in a specific case,
            accept cookies for certain cases, generally block them or activate automatic deletion of the cookies
            when
            you exit your browser. Disabling cookies, however, may limit the functionality of this Website.
        </p><br> -->

        <h3>Nutzung der Kontaktdaten</h3>
        <p>Der Nutzung von im Rahmen der Impressums-Pflicht veröffentlichten Kontaktdaten zur Übersendung von nicht
            ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Wir behalten
            uns ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa
            durch Spam-E-Mails, vor.
        </p><br>

        <h3>Hosting und E-Mail-Versand</h3>
        <p>Die von uns in Anspruch genommenen Hosting-Leistungen dienen der Zurverfügungstellung der folgenden
            Leistungen: Infrastruktur- und Plattformdienstleistungen, Rechenkapazität, Speicherplatz und
            Datenbankdienste, E-Mail-Versand, Sicherheitsleistungen sowie technische Wartungsleistungen, die wir zum
            Zwecke des Betriebs dieser Webseite einsetzen.
        </p><br>

        <h3>Erfassung von allgemeinen Daten und Informationen</h3>
        <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in sogenannten Server-Log-Dateien,
            die Ihr Browser automatisch an uns übermittelt. Dies sind:
        </p><br>

        <p>
        <ul>
            <li>verwendete Browsertypen und Versionen</li>
            <li>das vom zugreifenden System verwendete Betriebssystem</li>
            <li>die Webseite, von welcher ein zugreifendes System auf unsere Internetseite gelangt (Referrer)</li>
            <li>Datum und Uhrzeit eines Zugriffs auf die Internetseite</li>
            <li>Internet-Protokoll-Adresse (IP-Adresse)</li>
            <li>Internet-Service-Provider des zugreifenden Systems</li>
            <li>sonstige ähnliche Daten und Informationen, die der Gefahrenabwehr im Falle von Angriffen auf unsere
                informationstechnologischen Systeme dienen.</li>
        </ul>
        <br>
        </p>
        <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Die Erfassung dieser
            Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Webseitenbetreiber hat ein berechtigtes
            Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Webseite, hierzu müssen
            die Server-Log-Files erfasst werden.</p>
        <br>

        <h3>Externe Links</h3>
        <p>Wir verwenden auf unserer Webseite Links auf externe Seiten, die besonders gekennzeichnet sind und deren
            Inhalte sich nicht auf unserem Server befinden. Die externen Inhalte dieser Links wurden beim Setzen der
            Links geprüft. Es kann jedoch nicht ausgeschlossen werden, dass die Inhalte von den jeweiligen Anbietern
            nachträglich verändert wurden. Sollten Sie bemerken, dass die Inhalte der externen Anbieter gegen
            geltendes Recht verstossen, teilen Sie uns dies bitte mit.
        </p><br>
    </div>
</main>