<div class="grayOverlay noDisplay"></div>
    <div class="menu">
        <div class="menuNav">
            <ul>
                <li><button class="menuNavButton">Home</button></li>
                <li><button class="menuNavButton">Portrait</button></li>
                <li><button class="menuNavButton">Rechtsanwälte</button></li>
                <li><button class="menuNavButton">Kontakt</button></li>
                <li><button class="menuNavButton">Impressum</button></li>
                <li><button class="menuNavButton">Datenschutz</button></li>
            </ul>
        </div>
    </div>