<div class="grayOverlay noDisplay"></div>
    <div class="menu">
        <!-- NAV -->
        <div class="menuNav">
            <ul>
                <li><button class="menuNavButton">Home</button></li>
                <li><button class="menuNavButton">Portrait</button></li>
                <li><button class="menuNavButton">Attorneys at Law</button></li>
                <li><button class="menuNavButton">Contact</button></li>
                <li><button class="menuNavButton">Legal Notice</button></li>
                <li><button class="menuNavButton">Data Protection</button></li>
            </ul>
        </div>
    </div>