<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wohlmacher Kaiser Becker Mohr-Egger</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/app.css">
    <!-- SOURCE SANS PRO FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
</head>

<body>
    <!-- NAVBAR -->
    <% include partials/headerDE.ejs%>
    <!-- MENU -->
    <% include partials/menuDE.ejs%>
    <!-- MAIN -->
    <% include partials/mainDE.ejs%>
    <!-- FOOTER -->
    <% include partials/footerDE.ejs %>
    <script src="../app.js"> </script>
    <script>
    language = "de";currentPage = 4;
    contactContainer.classList.remove("noDisplay");
    showHeader();
    </script>
</body>

</html>