<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wohlmacher Kaiser Becker Mohr-Egger</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/app.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>

<body>
    <main class="d-flex flex-column">
        <div class="wrapper" id="wrapper1">
            <section class="aboutSection">
                <div class="sectionHeader">
                    <h2>ABOUT US</h2>
                </div>
                <div class="aboutDesc">
                    <p><strong>Wohlmacher Kaiser Becker Mohr-Egger</strong> is an internationally oriented law firm
                        based in Vaduz,
                        Principality of Liechtenstein.</p>
                </div>
                <div class="aboutContent">
                    <div class="aboutRow">
                        <div class="aboutImg aboutImg1">
                        </div>
                        <div class="aboutText">
                            <h4>EXPERIENCED</h4>
                            <p>Our lawyers have been serving clients for more than forty years.</p>
                        </div>
                    </div>
                    <div class="aboutRow">
                        <div class="aboutImg aboutImg2">
                        </div>
                        <div class="aboutText">
                            <h4>INTERNATIONAL</h4>
                            <p>We provide legal services to clients in Liechtenstein, European and International Law. We
                                can advise in German, English, French and Italian.</p>
                        </div>
                    </div>
                    <div class="aboutRow">
                        <div class="aboutImg aboutImg3">
                        </div>
                        <div class="aboutText">
                            <h4>CONNECTED</h4>
                            <p>Assisted by a network of first rate correspondents, we work successfully in all major
                                international centres.</p>
                        </div>
                    </div>
                    <div class="aboutRow">
                        <div class="aboutImg aboutImg4">
                        </div>
                        <div class="aboutText">
                            <h4>INDEPENDENT</h4>
                            <p>As an independent firm, we are free to choose the correspondents most suited for our
                                clients’ needs.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="wrapper" id="wrapper2">
            <section class="servicesSection">
                <div class="sectionHeader">
                    <h2>OUR STRENGTHS</h2>
                </div>
                <div class="servicesContent">
                    <div class="servicesBox topBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-chat-left-dots"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                            <path
                                d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                        </svg>
                        <p>Litigation and Arbitration</p>
                    </div>
                    <div class="servicesBox topBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-pen" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M13.498.795l.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                        </svg>
                        <p>Corporate and Contract <br>Law</p>
                    </div>
                    <div class="servicesBox topBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                        </svg>
                        <p>Family Law</p>
                    </div>
                    <div class="servicesBox topBox">
                        <svg width="5em" height="5em" style="transform: rotate(90deg)" viewBox="0 0 16 16"
                            class="bi bi-justify" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <p>Criminal Law</p>
                    </div>
                    <div class="servicesBox topBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-bar-chart-line"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z" />
                        </svg>
                        <p>Financial Market Law</p>
                    </div>
                    <div class="servicesBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-phone" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11 1H5a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z" />
                            <path fill-rule="evenodd" d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                        </svg>
                        <p>Telecommunications & Multimedia Law</p>
                    </div>
                    <div class="servicesBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-lightning" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                        </svg>
                        <p>Industrial and <br>Intellectual Property</p>
                    </div>
                    <div class="servicesBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-file-text" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z" />
                            <path fill-rule="evenodd"
                                d="M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
                        </svg>
                        <p>Wills, Estates & Estate Planning</p>
                    </div>
                    <div class="servicesBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z" />
                            <path
                                d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                        </svg>
                        <p>Formation and Administration of Foundations & Trusts</p>
                    </div>
                    <div class="servicesBox">
                        <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-flag" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z" />
                        </svg>
                        <p>European Law</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="wrapper" id="wrapper3">
            <section class="memberSection">
                <div class="sectionHeader">
                    <h2>MEMBERS</h2>
                </div>
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="memberBox">
                                <div class="memberImg">
                                    <img src="https://www.whlaw.li/wp-content/uploads/2016/04/FW-web.jpg" alt="">
                                </div>
                                <div class="memberDesc">
                                    <h3>Dr. iur. Friedrich Wohlmacher</h3>
                                    <p>University of Innsbruck, Austria (Dr. iur. 1971)</p>

                                    <p>Qualified in Liechtenstein and in Austria</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="memberBox">
                                <div class="memberImg">
                                    <img src="https://www.whlaw.li/wp-content/uploads/2016/04/NK-web.jpg" alt="">
                                </div>
                                <div class="memberDesc">
                                    <h3>Lic. iur. HSG Nicole Kaiser M.B.L.-HSG</h3>
                                    <p>St. Gallen University of Economics (Lic. iur. HSG 1997)</p>
                                    <p>Master of European and International Business Law (M.B.L. HSG 1998)</p>
                                    <p>Ad hoc Judge of the EFTA Court</p>
                                    <p>Qualified in Liechtenstein</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="memberBox">
                                <div class="memberImg">
                                    <img src="https://www.whlaw.li/wp-content/uploads/2016/04/SB-web.jpg" alt="">
                                </div>
                                <div class="memberDesc">
                                    <h3>Dr. iur. Stefan Becker LL.M.-ULB</h3>
                                    <p>University of Freiburg i.Ue. (Dr. iur. 2004)</p>
                                    <p>Université Libre de Bruxelles (1994)</p>
                                    <p>Former Head of the Liechtenstein Office for Communications</p>
                                    <p>Qualified in Liechtenstein</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="memberBox">
                                <div class="memberImg">
                                    <img src="https://www.whlaw.li/wp-content/uploads/2019/03/sme-web.jpg" alt="">
                                </div>
                                <div class="memberDesc">
                                    <h3>Mag. iur. Sabine Mohr-Egger LL.M.</h3>
                                    <p>Post Graduate Studies “European Law”, Schloss Hofen (Academically Certified
                                        Expert in European Law 1997; Master of Laws, LL.M. 2003)</p>
                                    <p>Member of the Board of the Liechtenstein Chamber of Lawyers</p>
                                    <p>Qualified in Liechtenstein and Austria</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </a>
                </div>
            </section>
        </div>
        <div class="wrapper" id="wrapper4">
            <section class="contactSection">
                <div class="sectionHeader">
                    <h2>Contact</h2>
                </div>
                <div class="contact">
                    <div class="contactInfo">
                        <h5>Address:</h5>
                        Wohlmacher Kaiser Becker Mohr-Egger<br>
                        Rechtsanwälte – Attorneys At Law<br>
                        Altenbach 8<br>
                        9490 Vaduz<br>
                        Principality of Liechtenstein<br>
                        P.O. Box 949<br><br>
                        <h5>Phone:</h5>
                        Tel: +423 233 44 44<br>
                        Fax: +423 233 45 04<br><br>
                        <h5>Email:</h5>
                        <a href="mailto: wh@whlaw.li">wh@whlaw.li</a><br><br>
                    </div>
                    <div class="contactForm">
                        <form action="POST">
                            <h5>Alternatively, use the form below:</h5>
                            <div class="mb-3">
                                <label for="fullName" class="form-label">Full Name or Company Name</label>
                                <input type="fullName" class="form-control" id="fullName">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Your Message</label>
                                <textarea class="form-control" id="message" rows="2"></textarea>
                            </div>
                            <button class="btn btn-outline-light">SUBMIT</button>
                        </form>
                    </div>
                </div>
                <div class="sectionHeader">
                    <h2 id="legalHeader">Legal Notice</h2>
                </div>
                <p id="legalNotice">According to Article 5 Paragraph 1 of the Liechtenstein E-Commerce Act (ECG) we give
                    the following notice as the provider of this website:

                    Liechtenstein attorneys are under the disciplinary supervision of the Liechtenstein Court of Appeal.
                    We are members of the Liechtenstein Bar <a href="https://www.rak.li/">Association</a> and are
                    subject to their rules of professional conduct as well as the Liechtenstein Lawyers Act.</p>
            </section>
        </div>
    </main>
    <div class="pageIndex">
        <div class="indexAlign">
            <button class="pUp">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class=" bi bi-chevron-compact-up fade-in fade-out"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z" />
                </svg>
            </button>
            <div class="circleAlign">
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page1on bi bi-circle-fill" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page1 bi bi-circle" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page2on bi bi-circle-fill" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page2 bi bi-circle" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page3on bi bi-circle-fill" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page3 bi bi-circle" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page4on bi bi-circle-fill" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="8" cy="8" r="8" />
                </svg>
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="page4 bi bi-circle" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                </svg>
            </div>
            <button class="pDown">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class=" bi bi-chevron-compact-down fade-in fade-out"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z" />
                </svg>
            </button>
        </div>
    </div>
    <nav>
        <div class="navWrapper">
            <div class="navbar">
                <div class="navLogo">
                    <div class="logoWrap"></div>
                    <div class="logo">

                    </div>
                    <div class="navBurger">
                        <button class="navToggler">
                            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-justify" fill="white"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="navContent">
                    <div class="navButtons">
                        <button class="navButton aboutButton">ABOUT US</button>
                        <button class="navButton servicesButton">SERVICES</button>
                        <button class="navButton membersButton">MEMBERS</button>
                        <button class="navButton contactButton">CONTACT</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="smallNav">
        <div class="smallNavButtons">
            <button class="smallNavButton aboutButtonSmall">ABOUT US</button>
            <button class="smallNavButton servicesButtonSmall">SERVICES</button>
            <button class="smallNavButton membersButtonSmall">MEMBERS</button>
            <button class="smallNavButton contactButtonSmall">CONTACT</button>
        </div>
    </nav>
    <footer class="footer container-fluid">
        <span class="footerElement"><span>Altenbach 8</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>P.O. Box 949</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>9490 Vaduz</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Principality of Liechtenstein</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Tel: +423 233 44 44</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Fax: +423 233 45 04</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Email:</span> <a href="mailto: wh@whlaw.li">wh@whlaw.li</a> </span><span
            class="separator">|</span>
        <span class="footerElement"><a class="noticeButton">Legal Notice</a></span>
    </footer>
    <!-- JavaScript Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
        crossorigin="anonymous"></script>
    <script src="app.js"> </script>
</body>

</html>