<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wohlmacher Kaiser Becker Mohr-Egger</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-CuOF+2SnTUfTwSZjCXf01h7uYhfOBuxIhGKPbfEJ3+FqH/s6cIFN9bGr1HmAg4fQ" crossorigin="anonymous">
    <link rel="stylesheet" href="/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="justitia">
        <img src="/images/justitia1.png" alt="">
    </div>
    <header>
        <div class="background">
            <div class="logo">

            </div>
            <div class="buttons">
                <a href="/home" class="enterButton">ENGLISH</a>
                <a href="#" class="enterButton">DEUTSCH</a>
            </div>
        </div>
    </header>
    <footer class="footer container-fluid">
        <span class="footerElement"><span>Altenbach 8</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>P.O. Box 949</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>9490 Vaduz</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Principality of Liechtenstein</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Tel: +423 233 44 44</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Fax: +423 233 45 04</span> </span><span class="separator">|</span>
        <span class="footerElement"><span>Email:</span> <a class="mail" href="mailto: wh@whlaw.li">wh@whlaw.li</a> </span>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
        integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
        crossorigin="anonymous"></script>
    <script src="index.js"> </script>
</body>

</html>