<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wohlmacher Kaiser Becker Mohr-Egger</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/app.css">
    <!-- ROBOTO -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- RALEWAY -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- OPEN SANS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- MAPBOX -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>
    <!-- NAVBAR -->
    <header class="headerHidden">
        <div class="headContainer">
            <span class="headLogo"></span>
        </div>
    </header>
    <nav>
        <button class="navButton"><svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor"
                class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg></button>
    </nav>
    <!-- MENU -->
    <div class="menu menuHidden">
        <!-- NAV -->
        <div class="menuNav">
            <ul>
                <li><button class="menuNavButton">About Us</button></li>
                <li><button class="menuNavButton">Lawyers</button></li>
                <li><button class="menuNavButton">Contact</button></li>
                <li><button class="menuNavButton">Legal Notice</button></li>
                <li><button class="menuNavButton">Data Security</button></li>
            </ul>
        </div>
    </div>
    <!-- MAIN -->
    <main>
        <div class="container" id="homeContainer">
            <div class="homeLogo">

            </div>
        </div>
        <div class="container noDisplay" id="aboutContainer">
            <h2>About Us</h2>
            <p>
                Wohlmacher Kaiser Becker Mohr-Egger is an internationally oriented law firm based in Vaduz, Principality
                of Liechtenstein.
            </p>
            <p>
                Our lawyers have been serving clients for more than forty years.
            </p>
            <p>
                We provide legal services to clients in Liechtenstein, European and International Law.
            </p>
            <p>
                Assisted by a network of first rate correspondents, we work successfully in all major international
                centres. As an independent firm, we are free to choose the correspondents most suited for our clients’
                needs.
            </p>
            <p>
                We are able to advise in English, German, French and Italian.
            </p>
            <p>
                <button class="contactButton">Contact Us</button>
            </p>
        </div>
        <div class="container noDisplay" id="teamContainer">
            <h2>Our Lawyers</h2>
            <!-- WOHLMACHER -->
            <div class="lawyerContainer">
                <div class="lawyerWrapper">
                    <div class="lawyerPicture wohlmacherPicture">

                    </div>
                    <div class="lawyerDescription">
                        <h3>Dr. iur. Friedrich Wohlmacher</h3>
                        <ul>
                            <li>University of Innsbruck, Austria (Dr. iur. 1971)</li>
                            <li>Qualified in Liechtenstein and in Austria</li>
                        </ul>
                        <h4>Strengths:</h4>
                        <ul>
                            <li>Litigation and Arbitration</li>
                            <li>Corporate and Contract Law</li>
                            <li>Family Law</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- KAISER -->
            <div class="lawyerContainer rightAlign">
                <div class="lawyerWrapper">
                    <div class="lawyerPicture kaiserPicture">

                    </div>
                    <div class="lawyerDescription">
                        <h3>Lic. iur. HSG Nicole Kaiser M.B.L.-HSG</h3>
                        <ul>
                            <li>St. Gallen University of Economics (Lic. iur. HSG 1997)</li>
                            <li>Master of European and International Business Law (M.B.L. HSG 1998)</li>
                            <li>Ad hoc Judge of the EFTA Court</li>
                            <li>Qualified in Liechtenstein</li>
                        </ul>
                        <h4>Strengths:</h4>
                        <ul>
                            <li>Litigation and Arbitration</li>
                            <li>Corporate and Contract Law</li>
                            <li>Family Law</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- BECKER -->
            <div class="lawyerContainer">
                <div class="lawyerWrapper">
                    <div class="lawyerPicture beckerPicture">

                    </div>
                    <div class="lawyerDescription">
                        <h3>Dr. iur. Stefan Becker LL.M.-ULB</h3>
                        <ul>
                            <li>University of Freiburg i.Ue. (Dr. iur. 2004)</li>
                            <li>Université Libre de Bruxelles (1994)</li>
                            <li>Former Head of the Liechtenstein Office for Communications</li>
                            <li>Qualified in Liechtenstein</li>
                        </ul>
                        <h4>Strengths:</h4>
                        <ul>
                            <li>Litigation and Arbitration</li>
                            <li>Corporate and Contract Law</li>
                            <li>Family Law</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- MOHR-EGGER -->
            <div class="lawyerContainer  rightAlign">
                <div class="lawyerWrapper">
                    <div class="lawyerPicture mohrEggerPicture">

                    </div>
                    <div class="lawyerDescription">
                        <h3>Mag. iur. Sabine Mohr-Egger LL.M.</h3>
                        <ul>
                            <li>Post Graduate Studies “European Law”, Schloss Hofen <br>
                                (Academically Certified Expert in European Law 1997; Master of Laws, LL.M. 2003)</li>
                            <li>Member of the Board of the Liechtenstein Chamber of Lawyers</li>
                            <li>Qualified in Liechtenstein and Austria</li>
                        </ul>
                        <h4>Strengths:</h4>
                        <ul>
                            <li>Litigation and Arbitration</li>
                            <li>Corporate and Contract Law</li>
                            <li>Family Law</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="blankspace"></div>
        </div>
        <div class="container noDisplay" id="contactContainer">
            <h2>Contact</h2>
            <div class="contactInfo ">
                <div class="map" id='map' style='width: 400px; height: 300px;'></div>
                <div class="address">
                    <ul>
                        <h4>Address:</h4>
                        <li>Wohlmacher Kaiser Becker Mohr-Egger</li>
                        <li>Altenbach 8</li>
                        <li>P.O. Box 949</li>
                        <li>9490 Vaduz</li>
                        <li>Liechtenstein</li>
                    </ul>
                    <ul>
                        <h4>Contact:</h4>
                        <li>Tel: +423 233 44 44</li>
                        <li>Fax: +423 233 45 04 </li>
                        <li>Email: wh@whlaw.li</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container noDisplay" id="stmtContainer">
            <h2>Data Security</h2>
            <!-- Tri-tip pastrami tenderloin meatloaf. Tongue frankfurter alcatra tenderloin turkey pig prosciutto landjaeger
            filet mignon pancetta. Ham hock picanha short loin turducken corned beef meatball venison sausage shank
            tenderloin. Chicken shank fatback strip steak buffalo.

            Landjaeger salami spare ribs, kielbasa turducken ham hock swine porchetta kevin boudin pastrami sausage.
            Pork pork chop flank boudin bacon, chislic drumstick andouille beef ribs turkey. Pork belly hamburger
            sausage shoulder tri-tip meatloaf beef ribs kielbasa chislic ground round buffalo fatback chicken. Pig
            tri-tip picanha kevin swine shankle short loin brisket. -->
        </div>
        <div class="container noDisplay" id="impContainer">
            <h2>Legal Notice</h2>
            <!-- Short loin ground round alcatra hamburger. Tri-tip fatback flank jerky, pork belly venison hamburger shank
            andouille pig. Filet mignon kielbasa hamburger shank landjaeger spare ribs, pork loin tenderloin venison
            drumstick turducken beef short loin shoulder pastrami. Pork loin chislic corned beef tail, shoulder beef cow
            pig biltong short loin ham. Hamburger sirloin capicola chislic prosciutto t-bone landjaeger burgdoggen
            corned beef flank pancetta doner bresaola.

            Tri-tip pastrami tenderloin meatloaf. Tongue frankfurter alcatra tenderloin turkey pig prosciutto landjaeger
            filet mignon pancetta. Ham hock picanha short loin turducken corned beef meatball venison sausage shank
            tenderloin. Chicken shank fatback strip steak buffalo.

            Landjaeger salami spare ribs, kielbasa turducken ham hock swine porchetta kevin boudin pastrami sausage.
            Pork pork chop flank boudin bacon, chislic drumstick andouille beef ribs turkey. Pork belly hamburger
            sausage shoulder tri-tip meatloaf beef ribs kielbasa chislic ground round buffalo fatback chicken. Pig
            tri-tip picanha kevin swine shankle short loin brisket. -->
        </div>
    </main>
    <script src="app.js"> </script>
</body>

</html>