/* BODY AND GENERAL STUFF */
html {
    scroll-behavior: smooth;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  }
body{
    background-color: #1e1a38;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
section{
    height: 77%;
    width: 90%;
    position:relative;
    top: 5%;
    /* border: 1px dashed rgba(255, 255, 255, 0.208); */
    color: white;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}

button{
    background: none;
    border:none;
}
a {
    color: inherit;
    text-decoration: underline;
}

a:hover 
{
     color:white; 
     text-decoration:none; 
     cursor:pointer;  
}
/* NAVBAR AND STUFF */
.navBackground{
    background: rgba(240, 200, 121,0.35);
    min-height: 102px;
    position: fixed;
    top: 3%;
    width: 100%;
}
.navbar{
    min-height: 100px;
    position: fixed;
    top: 3%;
    width: 100%;
    background: rgba(240, 200, 121,0.35) !important;
}
.navImage{
    width: 60%;
    height: 80px;
    background-image: url("/images/logo_small.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
}
.navButton{
    text-align: right;
    color: white !important;
    font-size: 1.1em;
    min-width: 20%;
}
.navButton:focus{
    outline:none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.navbar-toggler{
    margin-right: 14px;
}
@media only screen and (min-width: 992px) { 
    .navbar-nav{
        display: flex;
        justify-content: space-around;
        width: 90%;
        padding-left: 10%
    }
    .collapse{
        max-width: 50%;
    }
    .navButton{
        background-color: rgba(240, 200, 121,0.50);
        border-radius: 1.5px;
        text-align: center;
    }
    .navButton:hover{
        background-color: rgba(240, 200, 121,0.70);
        transition: 300ms;
    }
}
/* PAGEINDEX */
.pageIndex{
    width: 100vw;
    height: 50vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: 25%;
}
.indexAlign{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
.circleAlign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.circleAlign svg{
    display: block;
    margin: 5px;
}
.circleAlign svg:hover{
    cursor: pointer;
}
.pDown:focus {
	background: none;
	border: none;
	cursor: pointer;
	outline: inherit;
}
.pUp:focus {
	background: none;
	border: none;
	cursor: pointer;
	outline: inherit;
}
.pUp{
    color: rgba(255, 255, 255, 0.1);
}
.pUp, .pDown{
    color: white;
    transition: 200ms;
}

/* MAIN CONTENT SECTIONS */
/* ABOUT */
.aboutSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutHeader h2{
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-weight:700;
    letter-spacing: 5px;
}
.aboutHeader p{
    font-size: 1.4em;
    margin: auto;
    width: 70%;
}
.aboutCol{
    text-align: center;
}
.aboutCol .aboutText p{
    width: 90%;
    margin: auto;
    font-weight: 200;
}
.aboutImage{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.aboutImage1{
    background-image: url(https://images.unsplash.com/photo-1479142506502-19b3a3b7ff33?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);

}
.aboutImage2{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/BlankMap-World.png/800px-BlankMap-World.png);
}
.aboutImage3{
    background-image: url(https://images.unsplash.com/photo-1542382257-80dedb725088?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=80);
}
.aboutImage4{
    background-image: url(https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80);
}
/* FOOTER */
.footer {
    position: fixed;
    height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.459);
}
.separator{
    padding: 0 7px;
}
/* FADE IN */
.fade-in {
    animation: fadeIn ease 0.5s;
    -webkit-animation: fadeIn ease 0.5s;
    -moz-animation: fadeIn ease 0.5s;
    -o-animation: fadeIn ease 0.5s;
    -ms-animation: fadeIn ease 0.5s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}
/* LAPTOP SIZE */
@media only screen and (max-width: 992px) { 
    .footer{
        display:none;
    }
    .separator{
        display: none;
    }
    section{
        height: 60%;
    }
    button:focus{
        outline:none;
        border: none;
    }
    section{
        height:80%;
    }
    .navImage{
        width: 80%;
        margin: 7px;
    }
    .navbar{
        background:none !important;
    }
    .aboutText{
        width: 100%;
    }
    .navButton{
        font-size: 1.1em;
        width: 18%;
        margin-left: auto;
        background-color: rgba(240, 200, 121,0.350);
        padding-right: 5px;
        text-align: center;
    }
    .navButton:hover{
        font: white;
        text-shadow: 0 0 1px white;
    }
    .navButton:nth-of-type(4){
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .container-fluid{
        padding: 0;
    }
    .aboutHeader p{
        font-size: 1.2em;
        margin: auto;
        width: 70%;
        font-weight: 200;
    }
    
}
/* LEGAL NOTICE */
.legalNotice{
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 30%;
}
.noticeText{
    width: 400px;
    background-color: #1e1a38;
    border: 1px solid #f0c879;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* TABLET SIZE */
@media only screen and (max-width: 768px) {
    body{
        font-size: 0.8em;
    }
    .aboutHeader h2{
        width: 60%;
    }
}
/* MOBILE SIZE */
@media only screen and (max-width: 480px) {
}
