/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CUSTOM CSS */
/* GENERAL */
html{
    background: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue";
}
a{
    color: inherit;
}
button{
    padding: 0;
}
button:hover{
    cursor: pointer;
}
.noDisplay{
    display: none;
}
@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}
@keyframes fadeOut{
    from{opacity: 1}
    to{opacity: 0}
}
.fullOpacity{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.nullOpacity{
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
button, button:active{
    border: none;
    background: inherit;
    outline: none;
    color: inherit;
    font-size: inherit;
}
.infoButton{
    text-decoration: underline;
}
/* HEADER */
header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    border-bottom: 2px solid black;
    background: white;
    align-items: center;
}
.headContainer{
    margin-left: 50px;
    width: 90%;
    display: flex;
    align-items: center;
}
.temporary{
    font-size: 1.8em;
    margin-left: auto;
    width: 600px;
    height: 100px;
    background-image: url("/images/logo2.svg");
    background-repeat: no-repeat;
    background-position: center;
}
/* NAVICON */
.navButton{
    position: fixed;
    top: 28px;
    left: 50px;
    z-index: 2;
}
.navButtonRotated{
    color: white;
    transform: rotate(90deg);
}
@keyframes navIconRotateIn{
    from{transform: rotate(0deg); color: black}
    to{transform: rotate(90deg); color: white}
}
@keyframes navIconRotateOut{
    from{transform: rotate(90deg); color: white}
    to{transform: rotate(0deg); color: black}
}
.navButtonRotateIn{
    animation-name: navIconRotateIn;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}
.navButtonRotateOut{
    animation-name: navIconRotateOut;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

/* MENU */
/* MENU GENERAL */
.menu{
    background: darkblue;
    width: 350px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: -350px;
    transition: 300ms;
}
.menuExtended{
    left: 0;
}
.menuSeparator{
    background: white;
    width: 80%;
    height: 2px;
    margin: auto;
}
/* MENUHEADER */

.menuButton{
    margin-left: auto;
    color: inherit;
    padding: 10px;
}
/* MENU NAV */
.menuNav{
    color: white;
    font-size: 1.6em;
    line-height: 2em;
    margin: 130px 0 30px;
    margin-left: 60px;
}
.menuNav ul li button svg{
    position: relative;
    top: 8px;
}
.menuNavButton{
    padding: 0;
    position: relative;
}
.menuNavButton::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: 400ms;
}
.menuNavButton:hover::after{
    width: 100%;
}
/* MENU CONTACT */
.menuContact{
    color: white;
    margin: 30px 0;
    margin-left: 60px;
}
.menuContact h3{
    color: inherit;
    font-size: 1.6em;
    padding-bottom: 30px;
}
.menuContact ul li{
    line-height: 1.6em;
}
/* MENU INFO */
.menuInfo{
    color: white;
    margin: 30px 0;
    margin-left: 60px;
}
.menuInfo ul li{
    line-height: 1.6em;
}
/* MAIN */
/* GENERAL */
main{
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* CONTAINERS */
.container{
    width: 90%;
    position: absolute;
    min-height: 80%;
    font-size: 3em;
    z-index: -1;
    text-align: center;
}

/* FOOTER */
footer{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: lightgray;
    display: flex;
    transition: 200ms;
}
.footerContent{
    margin: auto;
    font-size: 0.8em;
}
.footerSeparator{
    margin: 0 10px;
}
.footerHidden{
    bottom: -30px;
}