/* LARGER SCREENS */

/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CUSTOM CSS */

/* GENERAL */

html {
    background: white;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'HelveticaKVAFont';
    src: url('/HelveticaKVAFont/HelveticaKVAFont.eot');
    src: url('/HelveticaKVAFont/HelveticaKVAFont.woff') format('woff'), url('/HelveticaKVAFont/HelveticaKVAFont.ttf') format('truetype');
}

body {
    width: 100vw;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    font-family: 'HelveticaKVAFont', "arial", sans-serif;
    font-weight: 200;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden
}

.hideOverflow {
    overflow-y: hidden;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

button {
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.noDisplay {
    display: none !important;
}

.fullOpacity {
    animation-name: fadeIn;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.nullOpacity {
    animation-name: fadeOut;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

button, button:active {
    border: none;
    background: inherit;
    outline: none;
    color: inherit;
    font-size: inherit;
}

/* FADE ANIMATIONS FOR MAIN CONTENT */

@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fadeOut {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

/* COLORS */

:root {
    /* COLOR FOR THE SIDEBAR AND SIDE BORDERS */
    --menuColor: #423F4A;
    /* PALE BACKGROUND COLOR */
    --paleBackground: rgb(249, 249, 249);
}

/* HEADER */

:root {
    /* SETS THE HEIGHT OF THE HEADER */
    --headerHeight: 92.5px;
    /* NEGATIVE VALUE OF WHAT IS ABOVE + BUFFER */
    --headerHidden: -95px;
    /* SETS THE WIDTH OF THE LOGO IN THE HEADER */
    --headerLogoWidth: 610px;
    /* SETS THE HEIGHT OF THE LOGO IN THE HEADER */
    --headerLogoHeight: 47.5px;
}

header {
    width: 100vw;
    height: var(--headerHeight);
    position: fixed;
    display: flex;
    background: white;
    top: 0;
    align-items: center;
    transition: 250ms;
    z-index: 5;
}

.headerHidden {
    top: var(--headerHidden);
    transition: 250ms;
}

.headerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    width: var(--headerLogoWidth);
    height: var(--headerLogoHeight);
    background-image: url("/images/logo2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* NAVICON */

.navButton {
    position: fixed;
    z-index: 15;
    top: 28px;
    left: 50px;
}

.navButtonRotated {
    color: white;
    transform: rotate(90deg);
}

@keyframes navIconRotateIn {
    from {
        transform: rotate(0deg);
        color: black
    }
    to {
        transform: rotate(90deg);
        color: white
    }
}

@keyframes navIconRotateOut {
    from {
        transform: rotate(90deg);
        color: white
    }
    to {
        transform: rotate(0deg);
        color: black
    }
}

.navButtonRotateIn {
    animation-name: navIconRotateIn;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.navButtonRotateOut {
    animation-name: navIconRotateOut;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

/* MENU */

/* MENU GENERAL */

:root {
    /* SETS THE WIDTH OF THE SIDEBAR MENU */
    --menuWidth: 18%;
    /* NEGATIVE VALUE OF ABOVE */
    --menuHidden: -18%;
}

.menu {
    background: var(--menuColor);
    width: var(--menuWidth);
    height: 100vh;
    z-index: 10;
    position: fixed;
    left: var(--menuHidden);
    transition: 250ms;
    display: flex;
}

.menuExtended {
    left: 0;
}

/* MENU NAV */

.menuNav {
    color: white;
    font-size: 1.4em;
    line-height: 2em;
    margin: auto;
    margin-top: 130px;
}

.menuNavButton {
    padding: 0;
    position: relative;
    font-family: 'HelveticaKVAFont', "arial", sans-serif;
}

.menuNavButton::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: 400ms;
}

.menuNavButton:hover::before {
    width: 100%;
}

/* MAIN */

/* GENERAL */

:root {
    /* SETS THE MARGIN FROM THE TOP OF THE PAGE */
    --mainMargin: 152px;
}

main {
    width: 100%;
    /* min-height: 60vh; */
    margin-top: var(--mainMargin);
    display: flex;
    justify-content: center;
}

/* LANDING PAGE */

#homeContainer {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeIntro {
    width: 50%;
    text-align: center;
    padding-top: 40px;
    font: var(--containerPFont);
    line-height: 30px;
}

.homeLogo {
    width: 60%;
    max-width: 1200px;
    height: 100px;
    background: url("/images/logo2.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

/* CONTAINER */

:root {
    /* SETS THE WIDTH OF THE CONTAINER FOR THE MAIN CONTENT */
    --containerWidth: 60%;
    /* FONT FOR THE H2 IN THE ABOUT CONTAINER */
    --containerH2Font: normal normal 500 33px/36px 'HelveticaKVAFont', "arial", sans-serif;
    /* FONT FOR THE PARAGRAPHS IN THE ABOUT CONTAINER */
    --containerPFont: normal normal 100 18px/22px 'HelveticaKVAFont', "arial", sans-serif;
    ;
    /* SETS THE PADDING OF THE H2 IN THE CONTAINERS */
    --h2Padding: 25px;
}

.container {
    width: var(--containerWidth);
}

.container h2, .container p {
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
}

.container h2 {
    text-align: left;
    font: var(--containerH2Font);
    padding-bottom: var(--h2Padding);
}

.container p {
    font: var(--containerPFont);
    padding-bottom: 25px;
}

/* INDIVIDUAL CONTAINERS */

/* ABOUT */

#aboutContainer {
    margin-top: 40px;
}

#aboutContainer div {
    display: flex;
    margin-bottom: 20px;
}

.centerAlign {
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    margin: auto;
}

.centerAlign h2 {
    width: 100%;
}

/* LAWYERS */

:root {
    /* SETS THE HEIGHT OF THE INDIVIDUAL LAWYER CONTAINERS UNEXTENDED */
    --lawyerContainerBase: 370px;
    /* SETS THE HEIGHT OF THE INDIVIDUAL CONTAINERS EXTENDED */
    --lawyerContainerExtended: 620px;
    /* SETS THE HEIGHT OF THE NAME CONTAINER EXTENDED */
    --lawyerNameExtended: 230px;
    /* SETS THE FONT OF THE HEADERS(3) IN THE INDIVIDUAL CONTAINERS */
    --lawyerContainerH3Font: normal normal 300 32px/46px 'HelveticaKVAFont', "arial", sans-serif;
    /* SETS THE FONT OF THE HEADERS(4) IN THE INDIVIDUAL CONTAINERS */
    --lawyerContainerH4Font: normal normal 300 21px/30px 'HelveticaKVAFont', "arial", sans-serif;
    /* SETS THE FONT OF THE LAWYER NAME LIST */
    --lawyerNameFont: normal normal 200 20px/20px 'HelveticaKVAFont', "arial", sans-serif;
    /* SETS THE FONT OF THE LAWYER INFO LIST */
    --lawyerInfoFont: normal normal 200 17px/20px 'HelveticaKVAFont', "arial", sans-serif;
    /* SETS THE WIDTH OF THE WRAPPER THAT CONTAINS THE INFO ABOUT THE LAWYERS */
    --lawyerWrapperWidth: 80%;
}

#teamContainer {
    width: 100%;
}

.lawyerContainer {
    width: 85%;
    max-width: 1200px;
    height: var(--lawyerContainerBase);
    display: flex;
    position: relative;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 250ms;
    background: var(--paleBackground);
    z-index: 1;
}

.lawyerContainerExtended {
    height: var(--lawyerContainerExtended);
    transition: 250ms;
}

.lawyerDescription {
    width: 65%;
    height: 100%;
    margin-left: auto;
}

.lawyerPicture {
    width: 33%;
    height: var(--lawyerContainerExtended);
    position: absolute;
    top: 0;
}

.lawyerName {
    height: var(--lawyerContainerBase);
    width: 100%;
    position: absolute;
    transition: 250ms;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--paleBackground);
    z-index: 3;
}

.lawyerName h3 {
    font: var(--lawyerContainerH3Font);
}

.lawyerName li {
    font: var(--lawyerNameFont);
    margin-bottom: 8px;
}

.lawyerNameExtended {
    height: var(--lawyerNameExtended);
    transition: 250ms;
}

.lawyerInfo {
    height: 390px;
    bottom: -390px;
    width: 100%;
    background: var(--paleBackground);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    transition: 250ms;
}

.lawyerInfo h4 {
    font: var(--lawyerContainerH4Font);
}

.lawyerInfo li, .lawyerInfo a {
    font: var(--lawyerInfoFont);
}

.lawyerInfoExtended {
    bottom: 0;
    transition: 250ms;
}

.lawyerInfo span {
    margin-bottom: 15px;
}

.lawyerInfo svg {
    position: relative;
    bottom: -8px;
    padding-right: 5px;
}

.chevron {
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

@keyframes chevronRotateIn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}

@keyframes chevronRotateOut {
    from {
        transform: rotate(-180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.chevronRotateIn {
    animation-name: chevronRotateIn;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.chevronRotateOut {
    animation-name: chevronRotateOut;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.mobileWrapper {
    display: none;
}

/* WOHLMACHER */

.wohlmacherPicture {
    background: url("/images/dummy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* KAISER */

.kaiserPicture {
    /* background: url("/images/kaiser.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/* BECKER */

.beckerPicture {
    /* background: url("/images/becker.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/* MOHR-EGGER */

.mohrEggerPicture {
    /* background: url("/images/mohr-egger.png"); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/* CONTACT */

#contactContainer {
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contactContainer p {
    padding-bottom: 2px;
    text-align: left;
}

#contactContainer h2 {
    padding-bottom: 10px;
    font-weight: 200;
}

.phoneAlign {
    display: flex;
}

.phoneAlign p:nth-of-type(1) {
    margin-right: 12px;
}

.contactInfo {
    width: 50%;
    padding-left: 30px;
    transition: 200ms;
}

.map {
    width: 50%;
    height: 300px;
    position: relative;
    background: none;
    cursor: pointer;
    transition: 300ms;
    border-radius: 2px;
}

.mapLoaded {
    background: url("/images/map.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.mapInfo {
    position: absolute;
    color: white;
    background: var(--menuColor);
    text-align: center;
    width: 100%;
    font-size: 20px;
    height: 25px;
    padding-top: 10px;
    bottom: 0;
    left: 0;
    opacity: 0.7;
}

.mapEnlarged {
    transform: scale(1.5) translate(35%);
}

.contactInfoHidden {
    color: white;
}

/* LEGAL NOTICE */

#impContainer {
    margin-top: 40px;
}

#impContainer p {
    text-align: justify;
}

/* PRIVACY POLICY */

#stmtContainer h2, #stmtContainer p {
    border-left: none;
    padding: 0;
    text-align: justify;
}

#stmtContainer h2 {
    padding-bottom: 20px;
}

#stmtContainer h3 {
    font-size: 20px;
    font-weight: 300;
    padding: 5px 0;
    text-decoration: underline;
}

#stmtContainer li {
    list-style-type: disc;
    font: var(--containerPFont);
}

#stmtContainer ul {
    margin-left: 20px;
}

/* FOOTER */

:root {
    /* SETS THE HEIGHT OF THE FOOTER */
    --footerHeight: 70px;
    /* NEGATIVE VALUE OF ABOVE */
    --footerHidden: -70px;
    /* FONT SIZE FOR THE FOOTER CONTENT */
    --footerFontSize: 13px;
}

footer {
    align-self: flex-end;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #423F4A;
    transition: 250ms;
    display: flex;
    height: var(--footerHeight);
}

.footerHidden {
    bottom: var(--footerHidden);
}

.footerTransparent {
    opacity: 0;
    transition: 0ms;
}

.footerContent {
    width: 60%;
    margin: auto;
    display: flex;
    line-height: 1.4em;
    font-size: var(--footerFontSize);
}

.footerLeft {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footerLeft a {
    display: block;
    color: white;
    font-family: 'HelveticaKVAFont', "arial", sans-serif;
    font-weight: 200;
}

.footerRight {
    margin-left: auto;
    width: 50%;
    color: white;
    font-weight: 200;
    display: flex;
    flex-wrap: wrap;
}

.footerRight div {
    margin: 0 4px;
}

@media only screen and (max-width: 1199px) {
    /* HEADER */
    :root {
        /* SETS THE HEIGHT OF THE HEADER */
        --headerHeight: 80px;
        /* NEGATIVE VALUE OF WHAT IS ABOVE + BUFFER */
        --headerHidden: -85px;
        /* SETS THE WIDTH OF THE LOGO IN THE HEADER */
        --headerLogoWidth: 500px;
        /* SETS THE HEIGHT OF THE LOGO IN THE HEADER */
        --headerLogoHeight: 40px;
    }
    /* NAVICON */
    .navButton {
        top: 20px;
        left: 30px;
    }
    /* GENERAL */
    :root {
        /* SETS THE MARGIN FROM THE TOP OF THE PAGE */
        --mainMargin: 80px;
    }
    /* FONTS FOR THE CONTAINERS */
    :root {
        /* SETS THE WIDTH OF THE CONTAINER FOR THE MAIN CONTENT */
        --containerWidth: 80%;
        /* FONT FOR THE H2 IN THE ABOUT CONTAINER */
        --containerH2Font: normal normal 500 25px/30px 'HelveticaKVAFont', "arial", sans-serif;
        /* FONT FOR THE PARAGRAPHS IN THE ABOUT CONTAINER */
        --containerPFont: normal normal 100 14px/18px 'HelveticaKVAFont', "arial", sans-serif;
        ;
        /* SETS THE PADDING OF THE H2 IN THE CONTAINERS */
        --h2Padding: 20px;
    }
    /* MENU */
    :root {
        /* SETS THE WIDTH OF THE SIDEBAR MENU */
        --menuWidth: 30%;
        /* NEGATIVE VALUE OF ABOVE */
        --menuHidden: -30%;
    }
    /* MENU NAV */
    .menuNav {
        font-size: 1.2em;
        line-height: 1.8em;
        margin-top: 100px;
        margin-left: 30px;
    }
    /* LANDING PAGE */
    .homeLogo {
        width: 70%;
    }
    .homeIntro {
        padding-top: 0;
        width: 70%;
    }
    /* CONTAINER SETTINGS */
    .container p {
        padding-bottom: 20px;
    }
    /* INDIVIDUAL CONTAINERS */
    /* ABOUT */
    #aboutContainer {
        margin-top: 50px;
    }
    #aboutContainer div {
        display: flex;
        margin-bottom: 20px;
    }
    .centerAlign {
        width: auto;
    }
    :root {
        /* SETS THE HEIGHT OF THE INDIVIDUAL LAWYER CONTAINERS UNEXTENDED */
        --lawyerContainerBase: 300px;
        /* SETS THE HEIGHT OF THE INDIVIDUAL CONTAINERS EXTENDED */
        --lawyerContainerExtended: 450px;
        /* SETS THE HEIGHT OF THE NAME CONTAINER EXTENDED */
        --lawyerNameExtended: 160px;
        /* SETS THE FONT OF THE HEADERS(3) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH3Font: normal normal 300 20px/25px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE HEADERS(4) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH4Font: normal normal 300 16px/20px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER NAME LIST */
        --lawyerNameFont: normal normal 200 14px/14px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER INFO LIST */
        --lawyerInfoFont: normal normal 200 14px/16px 'HelveticaKVAFont', "arial", sans-serif;
    }
    /* TEAM */
    .lawyerContainer {
        width: 95%;
    }
    .lawyerDescription {
        width: 66%;
    }
    .lawyerPicture {
        width: 31%;
    }
    .lawyerName li {
        margin-bottom: 4px;
    }
    .lawyerInfo {
        height: 290px;
        bottom: -290px;
    }
    .lawyerInfoExtended {
        bottom: 0;
    }
    /* CONTACT */
    #contactContainer {
        width: 80%;
        margin-top: 35px;
    }
    .phoneAlign p:nth-of-type(1) {
        margin-right: 10px;
    }
    /* FOOTER */
    :root {
        /* SETS THE HEIGHT OF THE FOOTER */
        --footerHeight: 60px;
        /* NEGATIVE VALUE OF ABOVE */
        --footerHidden: -60px;
        /* FONT SIZE FOR THE FOOTER CONTENT */
        --footerFontSize: 12px;
    }
    .footerContent {
        width: 80%;
    }
}

@media only screen and (max-width: 767px) {
    /* HEADER */
    :root {
        /* SETS THE HEIGHT OF THE HEADER */
        --headerHeight: 70px;
        /* NEGATIVE VALUE OF WHAT IS ABOVE + BUFFER */
        --headerHidden: -75px;
        /* SETS THE WIDTH OF THE LOGO IN THE HEADER */
        --headerLogoWidth: 70%;
        /* SETS THE HEIGHT OF THE LOGO IN THE HEADER */
        --headerLogoHeight: 50px;
    }
    /* GENERAL */
    :root {
        /* SETS THE MARGIN FROM THE TOP OF THE PAGE */
        --mainMargin: 80px;
    }
    /* FONTS FOR THE CONTAINERS */
    :root {
        /* SETS THE WIDTH OF THE CONTAINER FOR THE MAIN CONTENT */
        --containerWidth: 90%;
    }
    /* MENU */
    :root {
        /* SETS THE WIDTH OF THE SIDEBAR MENU */
        --menuWidth: 50%;
        /* NEGATIVE VALUE OF ABOVE */
        --menuHidden: -50%;
    }
    /* MENU NAV */
    .menuNav {
        font-size: 1.1em;
        line-height: 1.8em;
        margin-top: 100px;
        margin-left: 10px;
    }
    .menuNavButton {
        padding: 10px 0;
    }
    /* NAVICON */
    .navButton {
        top: 13px;
        left: 5px;
        transform: scale(0.8);
    }
    @keyframes navIconRotateIn {
        from {
            transform: rotate(0deg) scale(0.8);
            color: black
        }
        to {
            transform: rotate(90deg) scale(0.8);
            color: white
        }
    }
    @keyframes navIconRotateOut {
        from {
            transform: rotate(90deg) scale(0.8);
            color: white
        }
        to {
            transform: rotate(0deg) scale(0.8);
            color: black
        }
    }
    /* CONTAINER GENERAL */
    .container {
        height: auto;
    }
    /* HOME */
    .homeLogo {
        width: 90%;
    }
    .homeIntro {
        padding-top: 0;
        width: 90%;
    }
    .homeIntro br {
        display: none;
    }
    /* ABOUT */
    #aboutContainer {
        margin-top: 0px;
    }
    /* TEAM */
    :root {
        /* SETS THE HEIGHT OF THE INDIVIDUAL LAWYER CONTAINERS UNEXTENDED */
        --lawyerContainerBase: 170px;
        /* SETS THE HEIGHT OF THE INDIVIDUAL CONTAINERS EXTENDED */
        --lawyerContainerExtended: 470px;
        /* SETS THE HEIGHT OF THE NAME CONTAINER EXTENDED */
        --lawyerNameExtended: 170px;
        /* SETS THE FONT OF THE HEADERS(3) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH3Font: normal normal 300 18px/22px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE HEADERS(4) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH4Font: normal normal 300 16px/17px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER NAME LIST */
        --lawyerNameFont: normal normal 200 11px/13px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER INFO LIST */
        --lawyerInfoFont: normal normal 200 11px/13px 'HelveticaKVAFont', "arial", sans-serif;
    }
    .lawyerContainer {
        flex-direction: column;
        width: 100%;
    }
    .lawyerDescription {
        width: 95%;
        margin: auto;
    }
    .lawyerPicture {
        display: none;
    }
    .mobileWrapper {
        display: block;
        width: 100%;
        padding-top: 10px;
    }
    .mobilePicture {
        width: 95%;
        height: 300px;
        border: 1px solid black;
        margin: auto;
    }
    .chevron {
        z-index: 3;
        position: absolute;
        bottom: 0;
        right: 10px;
        padding: 0;
    }
    /* CONTACT */
    #contactContainer {
        margin-top: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
    }
    .contactInfo {
        width: 100%;
        max-width: 300px;
        padding-left: 0;
    }
    .map {
        width: 100%;
        max-width: 300px;
        height: 240px;
        margin-bottom: 10px;
    }
    .mapInfo {
        display: none;
    }
    .addressWrapper br, .addressWrapper h2 {
        display: none;
    }
    /* LEGAL NOTICE */
    #impContainer {
        margin-top: 0;
    }
    /* FOOTER */
    :root {
        /* SETS THE HEIGHT OF THE FOOTER */
        --footerHeight: 80px;
        /* NEGATIVE VALUE OF ABOVE */
        --footerHidden: -80px;
        /* FONT SIZE FOR THE FOOTER CONTENT */
        --footerFontSize: 11px;
    }
    footer {
        align-self: auto;
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .footerRelative {
        position: relative;
    }
    .footerRight {
        margin: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footerLeft {
        display: none;
    }
}

@media only screen and (max-width: 768px) and (min-width: 425px) {
    :root {
        /* SETS THE FONT OF THE HEADERS(3) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH3Font: normal normal 300 18px/22px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE HEADERS(4) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH4Font: normal normal 300 16px/17px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER NAME LIST */
        --lawyerNameFont: normal normal 200 12px/13px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER INFO LIST */
        --lawyerInfoFont: normal normal 200 12px/13px 'HelveticaKVAFont', "arial", sans-serif;
    }
}

@media only screen and (max-width: 768px) and (min-width: 560px) {
    :root {
        /* SETS THE FONT OF THE HEADERS(3) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH3Font: normal normal 300 23px/25px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE HEADERS(4) IN THE INDIVIDUAL CONTAINERS */
        --lawyerContainerH4Font: normal normal 300 20px/20px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER NAME LIST */
        --lawyerNameFont: normal normal 200 15px/15px 'HelveticaKVAFont', "arial", sans-serif;
        /* SETS THE FONT OF THE LAWYER INFO LIST */
        --lawyerInfoFont: normal normal 200 15px/15px 'HelveticaKVAFont', "arial", sans-serif;
    }
    .lawyerContainer{
        width: 95%;
    }
}