/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CUSTOM CSS */
/* GENERAL */
html{
    background: white;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    font-family: roboto;
    overflow: hidden;
}
a{
    color: inherit;
}
button:hover{
    cursor: pointer;
}
.noDisplay{
    display: none;
}
@keyframes fadeIn{
    from{opacity: 0}
    to{opacity: 1}
}
@keyframes fadeOut{
    from{opacity: 1}
    to{opacity: 0}
}
.fullOpacity{
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
.nullOpacity{
    animation-name: fadeOut;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}
/* NAVBAR */
nav{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    border-bottom: 2px solid black;
    background: white;
    align-items: center;
    z-index: 0.5;
}
.navbar{
    margin-left: 50px;
    width: 90%;
    display: flex;
    align-items: center;
}
button, button:active{
    border: none;
    background: inherit;
    outline: none;
    color: inherit;
    font-size: inherit;
}
.temporary{
    font-size: 2em;
    margin-left: auto;
}
/* MENU */
/* MENU GENERAL */
.menu{
    background: darkblue;
    height: 300vh;
    width: 40vw;
    z-index: 1;
    position: fixed;
    left: -40vw;
    transition: 300ms;
}
.menuExtended{
    left: 0;
}
.menuSeparator{
    background: white;
    width: 80%;
    height: 2px;
    margin: auto;
}
/* MENUHEADER */
.menuHeader{
    width: 100%;
    height: 100px;
    display: flex;
    color: white;
    align-items: center;
    font-size: 2em;
}
.menuHeader span{
    margin-left: 60px;
}
.menuButton{
    margin-left: auto;
    color: inherit;
    padding: 10px;
}
/* MENU NAV */
.menuNav{
    color: white;
    font-size: 1.6em;
    line-height: 2em;
    margin: 50px 0;
    margin-left: 60px;
}
.menuNav ul li button svg{
    position: relative;
    top: 8px;
}
.menuNavButton{
    padding: 0;
    position: relative;
}
.menuNavButton::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: white;
    transition: 400ms;
}
.menuNavButton:hover::after{
    width: 100%;
}
/* MENU CONTACT */
.menuContact{
    color: white;
    margin: 50px 0;
    margin-left: 60px;
}
.menuContact h3{
    color: inherit;
    font-size: 1.6em;
    padding-bottom: 30px;
}
.menuContact ul li{
    line-height: 1.6em;
}
/* MAIN */
/* GENERAL */
main{
    margin-top: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* CONTAINERS */
.container{
    width: 90%;
    position: absolute;
    min-height: 80%;
    border: 1px solid black;
    font-size: 3em;
    z-index: -1;
    text-align: center;
}
